.pagination-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination {
    list-style: none;
    display: flex;
    padding: 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-item.active .page-link {
    background-color: #a2003b;
    color: #fff;
    border-radius: 5px;
  }
  
  .page-link {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .page-link:hover {
    background-color: #a2003b;
    color: #fff;
  }
  