body {
    font-family: 'Roboto', sans-serif;
  }

  .container {
    display: flex;
    flex-direction: row;
  }
  
  .sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .sidebar h2 {
    font-family: 'Poppins, sans-serif';
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
    cursor: pointer;
  }
  
  .sidebar li:hover {
    text-decoration: underline;
  }
  
  .video-section {
    width: 80%;
    padding: 20px;
  }
  
  .video-item {
    margin-bottom: 40px;
  }
  
  .certificate-section {
    margin-top: 20px;
  }
  
  .certificate-section button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .certificate-section button:hover {
    background-color: #45a049;
  }
  